@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.catalog {
  font-family: 'Open Sans', 'Helvetica Neue Light', Helvetica,
    sans-serif;
}

.title {
  position: fixed;
  top: 0;
  color: rgb(196,156,96);
  background: #fff;
  z-index: 9999;
  width: 100%;
  text-align: center;
  font-family: "Playfair Display", serif;
}

.back-to-services {
  position: fixed;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  border: 0;
  margin: 10px;
  background: #fff;
  z-index: 9999;

  &:hover {
    cursor: pointer;
  }
}

.search-container-wrapper {
  position: fixed;
  top: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  background: #fff;
  z-index: 9999;
  padding: 0 2px;
}

.search-container {
  display: flex;
  width: 50vw;
  padding: 10px;

  $breakpoint-laptop: 1080px;
  @media (max-width: $breakpoint-laptop) {
    width: 100%;
  }

  & > input {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #d0cfce;
    outline: none;
    &:focus {
      border: 1px solid #008abf;
      transition: 0.35s ease;
      color: #008abf;
      &::-webkit-input-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
      &::-moz-placeholder {
        transition: opacity 0.45s ease;
        opacity: 0;
      }
    }
  }
}

.search-icon {
  position: absolute;
  right: 0;
  top: -14px;
  width: 75px;
  height: 75px;
  opacity: 0.3;

  $breakpoint-tablet: 768px;
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.custom-service-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  border-radius: 50px;
  color: #000;
  border: 2px solid #000;
  background: rgba(255,255,255,1);
  opacity: 0.8;
  margin: 0 0 0 40px;
  padding: 10px 50px;

  $breakpoint-tablet: 768px;
  @media (max-width: $breakpoint-tablet) {
    padding: 0;
    margin: 0;
  }

  &:hover {
    color: #fff;
    background: rgba(0,0,0,1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }


}