@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Playfair+Display:wght@400;500;700&display=swap');

*:focus {
  outline:0 !important;
}

.row {
  background: #fff;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

.top-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;

  h1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin: 0;
  }
}

.logos {
  margin: 0.5rem 1rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.profile {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin: 2rem;
}

.description {
  flex: 1;

  p {
    margin: 10px;
  }
}

.institution-logo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 1rem;
}

.expert-action-buttons {
  display: flex;
  flex: 0.5;
  height: 100%;
  background: #fff;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  text-align: center;

  & > p {
    margin: 0;
  }
}

.expert-quick-facts {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 10px;
}

.expert-quick-fact-entry {
  margin: 0 10px 0 0;
  & > p {
    margin: 10px;
  }
}

.price {
  font-size: 20px;
  font-weight: 800;
}

.label {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.quick-fact {
  font-size: 16px;
  text-align: center;
}

.description {
  margin: 10px 0;

  li {
    font-size: 20px;
  }
}

.book-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 25px;
  border-radius: 50px;
  color: #fff;
  border: 0;
  margin: 0;
  padding: 10px 50px;
  background: rgb(157, 122, 71);
  background: linear-gradient(135deg,#9e712c 10%,#926d32 30%,#e8d093 79%,#bda073 98%);
  box-shadow: 0px 9px 20px -5px rgba(190, 155, 96, 0.57);

  &:hover {
    color: #fff;
    border: none;
    background: rgb(196,156,96);
    background: linear-gradient(63deg, rgba(196,156,96,1) 13%, rgba(227,177,106,1) 36%, rgba(233,185,95,1) 65%, rgba(255,239,180,1) 99%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
  }
}

.back-button {
  position: fixed;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  border: 0;
  margin: 10px;
  padding: 10px 50px;
  background: #fff;

  &:hover {
    cursor: pointer;
  }
}