.ka {
  top: 60px;
  position: relative;
}

.ka-thead {
  position: fixed;
  top: 65px;
  z-index: 9999;
}

.ka-tbody {
  padding-top: 40px;
}

.ka-paging {
  justify-content: center;
}

.ka-paging-page-index {
  font-size: 30px;
  min-width: 40px;
}