.ka {
  top: 80px;
  position: relative;
}

.ka-thead {
  position: fixed;
  top: 125px;
  z-index: 9999;
}

.ka-tbody {
  padding-top: 100px;

  // for column name line breaks

  @media (max-width: 1340px) {
    padding-top: 90px;
  }

  @media (max-width: 1080px) {
    padding-top: 100px;
  }
}

.ka-paging {
  justify-content: center;
}

.ka-paging-page-index {
  font-size: 30px;
  min-width: 40px;
}